# Redirection HTTP -> HTTPS
http://mgendrot.pro {
  redir https://mgendrot.pro{uri}
}

# HTTPS avec Let's Encrypt
mgendrot.pro {
  # Logs JSON
  log {
    output file /var/log/access-foo.json
    format json
  }

  # TLS via Let's Encrypt (change l'email)
  tls mgendrot29@gmail.com

  # Routes (utilisation des noms de services Docker)
  reverse_proxy /auth/* auth-service:3001
  reverse_proxy /game/* game-service:3003
  reverse_proxy /stats/* stats-service:3002
  reverse_proxy /user/* user-service:3004
  reverse_proxy /ws/game game-service:3003
  reverse_proxy /* frontend:5173
}
