body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #02090e;
  font-family: 'JustMyType', sans-serif;
  font-size: 0.10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rounded-container {
  /* border-radius: 150px; */
  overflow: hidden;
  background-color: black;
}
.neonText {
  position: relative;
  color: #0400FF;
  text-shadow: 0 0 15px #0400FF, 0 0 10px #0400FF;
  animation: neonPulse 1.5s ease-in-out infinite alternate;
}

@font-face {
  font-family: 'JustMyType';
  src: url('fonts/JustMyType-KePl.ttf') format('truetype');
}

@keyframes neonPulse {
  /* 0% {
    text-shadow: 0 0 5px #0400FF, 0 0 10px #0400FF, 0 0 15px #0400FF, 0 0 20px #0400FF, 0 0 25px #0400FF;
  } */
  /* 50% {
    text-shadow: 0 0 10px #0400FF, 0 0 20px #0400FF, 0 0 30px #0400FF, 0 0 40px #0400FF, 0 0 50px #0400FF;
  } */
  /* 100% {
    text-shadow: 0 0 15px #0400FF, 0 0 25px #0400FF, 0 0 35px #0400FF, 0 0 45px #0400FF, 0 0 55px #0400FF;
  } */
}


